<a href="https://colab.research.google.com/github/saigupta2025/PYTHON_NOTES/blob/main/practice_session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
lst = [1, 5, 9, 4, 9, 2, "sai", "gupta", "ashish"]
numbers = sorted([item for item in lst if isinstance(item, int)])
strings = sorted([item for item in lst if isinstance(item, str)])
sorted_lst = numbers + strings
print(sorted_lst)

[1, 2, 4, 5, 9, 9, 'ashish', 'gupta', 'sai']

In [ ]:
lst=[2,4,6,2,1,4,99,6,5,6,4,33,65]
lst.sort()
print(lst)

[1, 2, 2, 4, 4, 4, 5, 6, 6, 6, 33, 65, 99]

LIST COMPREHENSION:::

syntax:

newlist = [expression for item in iterable if condition == True]

In [ ]:
result = ["even" if x % 2 == 0 else "odd" for x in range(5)]
print(result)  # Output: ['even', 'odd', 'even', 'odd', 'even']

In [ ]:
matrix = [[i * j for j in range(1, 4)] for i in range(1, 4)]
print(matrix)  # Output: [[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
names = ["alice", "bob", "charlie"]
capitalized = [name.capitalize() for name in names]
print(capitalized)  # Output: ['Alice', 'Bob', 'Charlie']

In [ ]:
from datetime import datetime
a=datetime.now()
print(a)
hour= datetime.now().hour
print(hour)
if hour<12:
    print("good morning \N{grinning face}")
elif hour<16:
    print("good afternoon \N{slightly smiling face}")
else:
    print('This is a sad face: ðŸ˜ž')

2025-07-29 04:18:32.780291
4
good morning ðŸ˜€

In [ ]:
ls= [1,2,3]
total=sum(ls)
ave= total/len(ls)
print(ave)

2.0

In [ ]:
lst= ['sai', 'gupta', 'shilpa', 'hyd', 'baglore', 'chennai']
ls=[]
for x in lst:
  if "a" in x:
    ls.append(x)
print(ls)

['sai', 'gupta', 'shilpa', 'baglore', 'chennai']

In [ ]:
data= input("please enter the string::")
words= data.split()
print("total words::", len(words))
for word in words:
  if "a" or "e" or "i" or "o" or "u" in word:
    print(word)

please enter the string::sri  vasavi egieerig college tadepalligudem
total words:: 5
sri
vasavi
egieerig
college
tadepalligudem

In [42]:
lst= [234, 455, 4456, 665, 3214, 553]
for x in lst:
  if x%2 == 0:
    print(x)

234
4456
3214

In [45]:
a=input("enter the string ::").lower()
print(a)

enter the string ::HanuMAn SAi GupTa
hanuman sai gupta