<a href="https://colab.research.google.com/github/saigupta2025/PYTHON_NOTES/blob/main/practice_session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lst = [1,5,9,4,9,2,"sai","gupta","ashish"]
numbers = sorted([item for item in lst if isinstance(item, int)])
strings = sorted([item for item in lst if isinstance(item, str)])
sorted_lst = numbers + strings
print(sorted_lst)

[1, 2, 4, 5, 9, 9, 'ashish', 'gupta', 'sai']

In [ ]:
lst=[2,4,6,2,1,4,99,6,5,6,4,33,65]
lst.sort()
print(lst)

[1, 2, 2, 4, 4, 4, 5, 6, 6, 6, 33, 65, 99]

LIST COMPREHENSION:::

syntax:

newlist = [expression for item in iterable if condition == True]

In [ ]:
result = ["even" if x % 2 == 0 else "odd" for x in range(5)]
print(result)  # Output: ['even', 'odd', 'even', 'odd', 'even']

In [ ]:
matrix = [[i * j for j in range(1, 4)] for i in range(1, 4)]
print(matrix)  # Output: [[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
names = ["alice", "bob", "ChARlie"]
capitalized = [name.title() for name in names]
print(capitalized)  # Output: ['Alice', 'Bob', 'Charlie']

['Alice', 'Bob', 'Charlie']

In [ ]:
from datetime import datetime
a=datetime.now()
print(a)
hour= datetime.now().hour
print(hour)
if hour<12:
    print("good morning \N{grinning face}")
elif hour<16:
    print("good afternoon \N{slightly smiling face}")
else:
    print('This is a sad face: ðŸ˜ž')

2025-07-29 04:18:32.780291
4
good morning ðŸ˜€

In [ ]:
ls= [1,2,3]
total=sum(ls)
ave= total/len(ls)
print(ave)

2.0

In [ ]:
lst= ['sai', 'gupta', 'shilpa', 'hyd', 'baglore', 'chennai']
ls=[]
for x in lst:
  if "a" in x:
    ls.append(x)
print(ls)

['sai', 'gupta', 'shilpa', 'baglore', 'chennai']

In [ ]:
data= input("please enter the string::")
words= data.split()
print(words)
print("total words::", len(words))
for word in words:
  if 'a' in word or 'e' in word or 'i' in word or 'u' in word :
    print(word)
  else:
    print("the word not contains vowels:: sorry!")

# result= [word for word in words if 'a' in word or 'e' in word or 'i' in word or 'u' in word]
# print(result)

please enter the string::aaa rrrr ttttt yyyy uuu iii oo
['aaa', 'rrrr', 'ttttt', 'yyyy', 'uuu', 'iii', 'oo']
total words:: 7
['aaa', 'uuu', 'iii']

In [ ]:
vowels = 'aeiou'
words_with_vowels = [word for word in words if any(ch in vowels for ch in word.lower())]
count = len(words_with_vowels)

print("Words with vowels:", words_with_vowels)
print("Count:", count)

Words with vowels: ['sai', 'hupya', 'ggus']
Count: 3

In [ ]:
lst= [234, 455, 4456, 665, 3214, 553]
for x in lst:
  if x%2 == 0:
    print(x)

234
4456
3214

In [ ]:
vowels = 'aeiou'
words_with_vowels = [word for word in words if any(ch in vowels for ch in word.lower())]
count = len(words_with_vowels)

print("Words with vowels:", words_with_vowels)
print("Count:", count)

Words with vowels: ['sai', 'hupya', 'ggus']
Count: 3

In [ ]:
a=[10,22,33,24,65,32,25,32,10,11]
print(a[::-2])

[11, 32, 32, 24, 22]

In [27]:
a=list(eval(input("enter the list::")))
print(a)

enter the list::1,2,3,4,5,67
[1, 2, 3, 4, 5, 67]

In [26]:
a=[1,2,3,4,5,6,7,8]
for x in a:
  e=3*x
  print(e,  sep= "!")

3
6
9
12
15
18
21
24

In [19]:
a= "ab"
b= "xy"
result= [i+j for i in a for j in b]
print(result)

['ax', 'ay', 'bx', 'by']

In [9]:
# strip() Method
# Purpose: Removes leading and trailing whitespace (or specified characters) from a string.
text = "   Hello World!   "
stripped_text = text.strip()
print(stripped_text)  # Output: "Hello World!"

text = "----Hello----"
stripped = text.strip("-")
print(stripped)  # Output: "Hello"

Hello World!
Hello

In [13]:
# join() Method
# Purpose: Joins elements of an iterable (like a list) into a single string, using a separator.
words = ["Deep", "Learning", "is", "fun", "23"]
sentence = " ".join(words)
print(sentence)  # Output: "Deep Learning is fun"

Deep Learning is fun 23

In [15]:
chars = ['A', 'I']
result = "-".join(chars)
print(result)  # Output: "A-I"

A-I

In [28]:
print("AI", "ML", "DL", sep=" | ")
# Output: AI | ML | DL

AI | ML | DL

In [31]:
a,b,c="sai", 23, "gupta"
print(a,b,c, sep= "   !   ")

sai   !   23   !   gupta