<a href="https://colab.research.google.com/github/saigupta2025/PYTHON_NOTES/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Properties ::
1. tuple exactly same as list except it is Immutable;
2. Hence tuple is a read only version of list;
3.Ordered :: Tuples maintain the order of elements.Elements can be accessed by index (supports +ve & -ve );
4.Duplicates are allowed;
5.Can Contain Different Data Types i.e., Heterogeneous;
6.Can Be Nested;
7.Hashable :: Tuples can be used as keys in dictionaries (if all elements are also hashable);
8.represented by normal parenthesis and comma seperator;
9.parenthesis is optional but recommended to use;
10. empty tuple :: ()

In [ ]:
t=10,20,30
print(t)
print(type(t))

(10, 20, 30)
<class 'tuple'>

we have to take special care about single valued tuple. compulsary the value should ends with comma. otherwise it is not treated as tuple.

In [ ]:
t=(10)
print(type(t))

tp=(10,)
print(tp)
print(type(tp))

<class 'int'>
(10,)
<class 'tuple'>

In [ ]:
t=()
t=10,20,30
t=10
t=10,
t=(10)
t=(10,)
t=(10,20,30,"sai")

<class 'tuple'>

In [ ]:
# tuple() function
lst=[10,20,30, "sai", "ram"]
tp= tuple(lst)
print(tp)
print(type(tp))

t=tuple(range(10,20,2))
print(t)
l= list(range(10,20,2))
print(l)

tple= (10,20,60,40,"sri")
lst= list(tple)
print(lst)

(10, 20, 30, 'sai', 'ram')
<class 'tuple'>
(10, 12, 14, 16, 18)
[10, 12, 14, 16, 18]
[10, 20, 60, 40, 'sri']

In [1]:
# Accessing elements by 1) Index    2)slice operator
#mathematical operators on tuple are 1) concatenation    2) multiplication operator
# important functions of tuple :: len(), count(), index(), sorted(), max(), min(), cmp()
t=(10,20,30,40,50)
print(len(t))
print(t.count(10))
print(t.index(10))
print(sorted(t))
print(max(t))
print(min(t))

5
1
0
[10, 20, 30, 40, 50]
50
10

# TUPLE PACKING & UNPACKING::

In [2]:
#packing
a=10
b=20
c=50
t=a,b,c
print(t)

(10, 20, 50)

In [3]:
#unpacking
t=10,20,30,40,50,60
a,b,c,d,e,f=t
print("a=",a, "b=",b, "c=",c, "d=",d, "e=",e, "f=",f)

a= 10 b= 20 c= 30 d= 40 e= 50 f= 60

# Tuple comprehension not possible in python

# Learn the differences between LIST & TUPLE