<a href="https://colab.research.google.com/github/saigupta2025/PYTHON_NOTES/blob/main/UNIT_01_PPL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
s= "learn python is very easy"
print("forward direction")
for x in s[::]:
  print(x, end =" ")

forward direction
l e a r n   p y t h o n   i s   v e r y   e a s y

In [53]:
s= "learnpythonisveryeasy"
print("backward direction")
for x in s[::-1]:
  print(x, end =" ")

backward direction
y s a e y r e v s i n o h t y p n r a e l

In [40]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

if (num1 >= num2) and (num1 >= num3):
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3

print(f"The largest number is: {largest}")

Enter the first number: 5
Enter the second number: 6
Enter the third number: 7
The largest number is: 7.0

In Python, the else block is primarily used in conjunction with if statements to provide an alternative code path when the if condition evaluates to False.
However, Python also allows the use of else with for and while loops, and try-except blocks. In these cases, the else block's execution is conditional on the behavior of the preceding block:

for/while loops:

The else block associated with a for or while loop executes only if the loop completes without encountering a break statement.

In [41]:
# Python program to display all the prime numbers within an interval

lower = 0
upper = 100

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num, end= " ")

Prime numbers between 0 and 100 are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [42]:
num1 = 5
num2 = 10

print(f"Before swap: num1 = {num1}, num2 = {num2}")

num1, num2 = num2, num1

print(f"After swap: num1 = {num1}, num2 = {num2}")

Before swap: num1 = 5, num2 = 10
After swap: num1 = 10, num2 = 5

In [43]:
# Define two complex numbers
z1 = 5 + 3j
z2 = 2 - 5j

# Add the complex numbers
sum_complex = z1 + z2

# Print the result
print(f"The sum of {z1} and {z2} is: {sum_complex}")

The sum of (5+3j) and (2-5j) is: (7-2j)

In [44]:
# Define two complex numbers
z1 = 23 + 3j
z2 = 1 - 5j

# Multiply the complex numbers
product_complex = z1 * z2

# Print the result
print(f"The product of {z1} and {z2} is: {product_complex}")

The product of (23+3j) and (1-5j) is: (38-112j)

In [45]:
# Get input from the user
num = int(input("Enter a number: "))

# Print a header for the table
print(f"Multiplication Table of {num}:")

# Use a for loop to iterate from 1 to 10 (or any desired range)
for i in range(1, 11):
    # Calculate the product
    product = num * i
    # Print the multiplication equation
    print(f"{num} x {i} = {product}")

Enter a number: 5
Multiplication Table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [46]:
# fibonacci series within a given range
start = int(input("Enter the starting number: "))
end = int(input("Enter the ending number: "))
a, b = 0, 1
print(f"Fibonacci series between {start} and {end}:")
while a <= end:
    if a >= start:
        print(a, end=" ")
    a, b = b, a + b

Enter the starting number: 0
Enter the ending number: 6
Fibonacci series between 0 and 6:
0 1 1 2 3 5

In [47]:
# fibonacci series 1. n terms   2. Nth term
# n = int(input("Enter the number of terms: "))
# a,b = 0,1
# for x in range(n):
#   print(a, end=" ")
#   a,b = b,a+b

n= int(input("Enter the number "))
a,b = 0,1
for i in range(n):
  if i == n-1:
    print(a, end=" ")
  a,b = b,a+b

Enter the number 6
5

In [48]:
#Leap Year or not
yr= int(input("Enter the year: "))
if (yr%4==0 and yr%100!=0) or (yr%400==0):        # or is logical operator
  print(f"{yr} is a leap year")

Enter the year: 3333

In [49]:
# formatted string
# case 1
a=10
b=30
print(f"a = {a}, b= {b}")
print(f"a+b={a+b}")
# case 2
text = "hanuman sai gupta"

print(F"{text.upper()}")
print(f"{text.capitalize()}")
print(f"{text.lower()}")
print(f"{text.title()}") # the first letter of each word in the string is capitalized, and all other letters in those words are converted to lowercase.
print(f"{text.swapcase()}")  #all uppercase letters are converted to lowercase, and
                             #all lowercase letters are converted to uppercase.
                            #Non-alphabetic characters (like numbers, symbols, and spaces) remain unchanged
print(f"string reverse = {text[::-1]}")
print(F"I am learning with {text[7:]}")
print(list(text))
print(list[text])
print(list(enumerate(text)))
for x in text:
  print(x, end=" ")
print()
# case 3
a= 1.58999
print(f"a = {a}")
print(f"a = {a:.2f}")

a = 10, b= 30
a+b=40
HANUMAN SAI GUPTA
Hanuman sai gupta
hanuman sai gupta
Hanuman Sai Gupta
HANUMAN SAI GUPTA
string reverse = atpug ias namunah
I am learning with  sai gupta
['h', 'a', 'n', 'u', 'm', 'a', 'n', ' ', 's', 'a', 'i', ' ', 'g', 'u', 'p', 't', 'a']
list['hanuman sai gupta']
[(0, 'h'), (1, 'a'), (2, 'n'), (3, 'u'), (4, 'm'), (5, 'a'), (6, 'n'), (7, ' '), (8, 's'), (9, 'a'), (10, 'i'), (11, ' '), (12, 'g'), (13, 'u'), (14, 'p'), (15, 't'), (16, 'a')]
h a n u m a n   s a i   g u p t a
a = 1.58999
a = 1.59

In [50]:
# string concantination and multiplication
s1 = "hanuman"
s2=" saigupta"
print(f" The concatination of two strings is = {s1+s2}")
print(f" The multiplication of two strings is = {s2*3}")
print(f" The multiplication of two strings is = {s1*3}")
print(f" The multiplication of two strings is = {s1+s2*3}")
print(f" The multiplication of two strings is = {s2*3+s1}")

 The concatination of two strings is = hanuman saigupta
 The multiplication of two strings is =  saigupta saigupta saigupta
 The multiplication of two strings is = hanumanhanumanhanuman
 The multiplication of two strings is = hanuman saigupta saigupta saigupta
 The multiplication of two strings is =  saigupta saigupta saiguptahanuman

In [51]:
#Discount Problem
amount = float (input("Enter the amount: "))
if amount > 10000:
  Discount = amount*0.3
elif amount > 7000 and amount < 10000:
  Discount = amount*0.2
elif amount > 5000 and amount < 7000:
  Discount = amount*0.1
else:
  Discount = amount*0.05
print(f"Discount = {Discount}")
print(f"Net amount = {amount-Discount}")

Enter the amount: 566698
Discount = 170009.4
Net amount = 396688.6